{{ define "title" }}
{{ .Title }} ({{ .Weight }}) | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<content>
    <h1>Radical {{ .Title }} ({{ .Weight }})</h1>

    {{ .Content }}

    {{ $radId := .File.BaseFileName }}
    {{ $glyphs := where site.Pages "Type" "glyphs" }}
    {{ $childPages := where $glyphs "Params.radical" $radId }}

    {{ range $childPages.ByWeight }}
    <article class="glyph-entry">
        {{ $id := path.Base .File.Dir }}
        <h2 id="{{ $id }}">
            <a href="#{{ $id }}">{{ partial "smart_title.html" . | safeHTML }}</a>
        </h2>

        <div>
            {{ .Content }}
        </div>

    </article>
    <hr>
    {{ end }}
</content>
{{ end }}